# dependencies
node_modules

# Folder
session
Log
public
build
csv
build_old
build_old1
build_old2
build_old3
build_old4
build_old5
build_old6
build_old7
build_old8
build_old9

# exclude everything
build/*
public/*

# exception to the rule
!build/.gitkeep 
!public/.gitkeep 

# Files
Config/Database.js
package-lock.json
