# dependencies
node_modules
.env
# Folder
session
Log
public
build
csv
# exclude everything
build/*
public/*

# exception to the rule
!build/.gitkeep 
!public/.gitkeep 

# Files
Config/Database.js
package-lock.json
